<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exequiel.redditor">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<provider
    android:authorities="com.exequiel.redditor"
    android:exported="true"
    android:name=".data.RedditProvider"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".receiver.AuthClientReceiver">
            <intent-filter >
                <action android:name="com.exequiel.redditor.AUTHCLIENTRECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AuthUserReceiver">
            <intent-filter >
                <action android:name="com.exequiel.redditor.AUTHSERRECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>